body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: #2d3c49;
}

h1, h2, h3, h4 {
  margin: 0;
  display: block;
}

header, footer, section, article, div {
  box-sizing: border-box;
}

/*
 *
 * Common
 *
 */

 .flex {
   display: flex;
   flex-wrap: wrap;
 }

/*
 *
 * Header
 *
 */

.header_logo {
  height: 100px;
  margin: 12px 25px;
  float: left;
}

.header_title {
  font-weight: 100;
  font-size: 5em;
  margin: 12px 25px 0 0;
  text-transform: uppercase;
  float: right;
}

.header_byline {
  font-weight: 500;
  font-size: 2em;
  margin: 0 30px 20px;
  text-transform: uppercase;
  clear: right;
  float: right;
}

hr {
  clear: both;
  margin: 25px;
  border: none;
  height: 3px;
  color: #7d97ad;
  background-color: #7d97ad;
}

/*
 *
 * Main
 *
 */

main {
  clear: both;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}


/*
 *
 * Hero
 *
 */

.hero {
  margin: 0 25px 0 25px;
}

.hero h2 {
  visibility: hidden;
  height: 0;
}

.hero_pic {
  background-image: url(../images/android-ninja.jpg);
  background-size: cover;
  width: 100%;
  height: 300px;
}

/*
 *
 * projects
 *
 */

 .margin_wrapper {
   margin: 0 15px;
 }

 .projects {
   width: 100%;
 }

 .projects h2 {
   margin-left: 10px;
   margin-top: 1em;
   color: #7d97ad;
   font-weight: 400;
   font-size: 3em;
   width: 100%;
 }

.center_wrapper {
  width: 400px;
  margin: auto;
}

.center_wrapper article {
  margin: 10px;
}

.projects img {
  width: 100%;
}

.projects h3 {
  text-transform: uppercase;
  text-align: center;
  font-size: 3em;
  font-weight: 400;
  margin: 10px auto 0;
}

.projects h4 {
  font-weight: 500;
  text-align: center;
}

.projects a {
  text-decoration: none;
  color: #7d97ad;
}

.projects a:hover,
.projects a:active {
  text-decoration: underline;
}

.projects p {
  margin: .5em 1.5em 2em;
}




/*
 *
 * Footer
 *
 */

footer {
  width: 100%;
  padding-bottom: 1em;
}

footer li {
  display: inline-block;
  margin: 0 1em;
}

footer a {
  text-decoration: none;
  color: #7d97ad;
}

footer a:hover {
  color: #02b3e4;
}

/*
 *
 * Media Queries
 * -- set responsive screen size adjustments
 *
 */

@media screen and (min-width: 850px) {
  .hero_pic {
    background-image: url(../images/android-ninja-850px.jpg);
  }
}

@media screen and (max-width: 450px) {
  .header_logo {
    height: 50px;
  }
  .header_title {
    font-size: 3em;
  }
  .header_byline {
    font-size: 1em;
  }
}
